@import url('https://fonts.googleapis.com/css2?family=BBH+Bartle&display=swap');
@import "tailwindcss";



@theme{
    --font-BBH: "BBH Bartle", sans-serif;
    --color-primary: #F2F0F1;
    --color-input: #F0F0F0;
}

